*{margin: 0;
    padding: 0;}
h1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: #373737;
    }
.navBarDiseño{
        display: inline;
        color: #dcd0c0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        justify-content: center;
       }
nav ul li{
        display: inline;
        color: #dcd0c0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
         }
.contenedormain{
        margin: 0;
        padding: 0;
    }    
h2{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #c0b283;
      }
h3{
       text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #c0b283;
      }
p{
        text-align: justify;
        color: #373737; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
     }

footer{
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #c0b283;
        grid-area: footer;
        height: 500px;
      }

.circle{
  width: 15px;
  height: 15px;
  border-radius:50px;
  background-color: white;
}
.circle1, .circle2, .circle3{
  width: 15px;
  height: 15px;
  border-radius:50px;
  background-color: #c0b283;
  margin: 20px;
}
.circulos:hover .circle1
.circulos:hover .circle2
.circulos:hover .circle3{
  transform: translateX(400px);
}

.circle4, .circle5, .circle6{
  width: 15px;
  height: 15px;
  border-radius:50px;
  background-color: #c0b283;
  margin: 20px;
  transition: all 2s ease-in;
}
.circulos:hover .circle4
.circulos:hover .circle5
.circulos:hover .circle6{
  transform: translateX(400px);
  
}

